@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form asp-controller="Account" asp-action="SignUp" method="post">
        Họ tên: <input type="text" id="username" name="username" />
        <button type="submit">Gửi</button>
    </form>
</div>
